.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333; /* Arrière-plan sombre */
    color: #fff; /* Couleur du texte blanc */
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #555; /* Arrière-plan du champ de saisie */
    color: #fff; /* Couleur du texte blanc */
  }
  
  .form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color:   #FFA833;
    color: #fff;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color:#FF5E33 ;
  }
  