<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
  <div class="button-wrapper" id="maleButton">
    <a class="buttonR" [routerLink]="['/add-menu']">
   Add menu
    </a>
  </div>
  <div class="button-wrapper" id="femaleButton">
    <a  class="buttonM" [routerLink]="['/gestion-menu']">
    Menu List
    </a>
  </div>
  <div class="button-wrapper" id="femaleButton">
    <a  class="buttonA" >
    My Account
    </a>
  </div>
 
 
</div>

</body>
</html>
