<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
  <div class="button-wrapper" id="card">
    <a  class="buttonP" (click)="reload()" >

      Reload Card    </a>
  </div>
  <div class="button-wrapper" id="menu">
    <a href="#" class="buttonM">
     See Menu
    </a>
  </div>
 
  <div class="button-wrapper" id="balance">
    
    <a  class="buttonB" (click)="checkBalance()">
      check balance
    </a>
  </div>
</div>

</body>
</html>
